.array-cell {
  display: flex;
  flex-direction: column;
}
.array-cell-index {
  font-size: 12px;
  color: sandybrown;
}

.array-cell-value {
  border: 1px solid sandybrown;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  margin: 1px;
}

.array-cell.median .array-cell-index {
  font-weight: bold;
  color: lightseagreen;
}

.array-cell.median .array-cell-value {
  background-color: sandybrown;
  color: white;
}

.array-cell.second .array-cell-index{
  color: palevioletred;
}

.array-cell.second .array-cell-value{
  border: 1px solid palevioletred;
}

.array-cell.second.median .array-cell-value {
  background-color: palevioletred;
}
.array-cell.second.median .array-cell-index{
  color: darkolivegreen;
}
